.form-signin {
  max-width: 330px;
  padding: 15px;
  //padding-top: 50px;
  margin: 0 auto;
  vertical-align: bottom;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-sign-up {
  padding-top: 50px;
}

.forgot-password {
  font-size: small;
  float: right;
}

.remember-me {
  font-size: small;
}

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

.col-md-4 {
  background: #EEEEEE;
}

.login_as {
  padding-top: 5px;
  padding-bottom: 50px;
  padding-right: 30px;
  justify-content: center;
  padding-left: 40px;
  margin: 0 auto;
  height: inherit;
  text-align: center;
  position: relative;

}

hr {
  color: steelblue;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.grad{
  width:120px;
  height:120px;
  border-radius:90px;
  background:steelblue;
  overflow: hidden;
  display: inline-block;
  border:1px solid #cfdcec;
  text-align: center;
  color: #EEEEEE;
  font-size: 20px;
  font-weight: 900;
  margin: 10px 10px 10px 10px;
  line-height:100px;
  text-shadow:0 1px 0 #666;
  text-decoration:none;
  box-shadow:1px 1px 2px #000;
  opacity:0.95

}
.grad:hover {
  color: steelblue;
  background-color: transparent;
}

.student_list {
  align-content: center;
  margin-left: 25%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  width: 50%;
  color: steelblue;
  background-color: lightsteelblue;

}

.student_list:hover{
  color: lightsteelblue;
  background-color: steelblue;
}

